<%- include('header') -%>
<%- include('menu') -%>

<section id="main">
    <div class="container py-5">
        <h1>Üdvözüljük a MenhelyDB oldalon!</h1>
        <div class="container py-2 open">
            <h2>Magyarország legnagyobb állatmenhelyekkel foglalkozó adatbázisa.</h2>
            <br><br>
        </div>
        <div class="container py-2 open">
            <a class="btn btn-success btn-lg btn-block" href="/menhelyek" role="button">Tovább a menhelyekre!</a>
        </div>
    </div>


</section>

<%- include('footer') -%>
