<%- include('header') -%>
<%- include('menu') -%>

<section id="main">
  <div class="container pt-3">
    <h2>Új állat felvétele</h2>
    <form method="POST">
      <div class="col-md-6 pt-2">
        <label for="inputName" class="form-label">Név</label>
        <input type="text" class="form-control" id="inputName" placeholder="Buksi" name="nev" value="">
      </div>
      <div class="col-md-6 pt-2">
        <label for="inputRace" class="form-label">Faj</label>
        <input type="text" class="form-control" id="inputRace" placeholder="Kutya" name="faj" value="">
      </div>
      <div class="col-md-6 pt-2">
        <label for="inputSpecies" class="form-label">Fajta</label>
        <input type="text" class="form-control" id="inputSpecies" placeholder="Német juhász" name="fajta" value="">
      </div>
      <div class="col-md-6 pt-2">
        <label for="inputAge" class="form-label">Kor</label>
        <input type="number" class="form-control" id="inputAge" placeholder="101" name="kor" value="">
      </div>

      <div class="col-12 pt-2">
        <input type="submit" class="btn btn-primary btn-lg" value="Mentés"/>       
        <a href="/allatok/<%= menhely._id %>" class="btn btn-danger btn-lg">Mégse</a>
      </div>
    </form>
  </div>

</section>

<%- include('footer') -%>